h1, h2, h3, h4, h5, h6{
    color: orange;
    background-color: aqua;
}

.texto-com-background {
    background-color: yellow;   
}

#texto-com-background { 
    color: green;
}

section >p{ 
    color: blue;
}

section p:nth-child(2){
    color: hotpink;
} 